@charset "UTF-8";

@font-face {
    font-family: "cuprum";
    font-style: normal;
    font-weight: 400;
    src: local("cuprum"),
        url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
}
@font-face {
    font-family: "cuprum";
    font-style: italic;
    font-weight: 400;
    src: local("cuprumitalic"),
        url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
    font-family: "cuprum";
    font-style: bold;
    font-weight: 800;
    src: local("cuprumitalic"),
        url("../fonts/cuprumbold.woff2") format("woff2"),
        url("../fonts/cuprumbold.woff") format("woff");
}

*,
*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.header__top {
    background-color: #293449;
    width: 100%;
    height: 100%;
}

.header__top-content {
    position: relative;
    display: flex;
    align-items: center;
}

.header__top-logo {
    background: #EE3643;
    max-width: 220px;
    color: #fff;
    font-size: 18px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-right: 17px;
}

.header__top-logo:before {
    content: '';
    position: absolute;
    bottom: -5px;
    box-shadow: inset 0px -5px 0px rgba(181, 41, 50, 1);
    width: 100%;
    height: 5px;
}

.header__top-search {
    color: #fff;
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center
}

.header__top-search span {
    margin-right: 10px;
}

.header__top-search input {
    background: transparent;
    border: none;
    width: 193px;
}

.header__top-search input:focus-visible {
    border-bottom: 1px solid #fff;
    outline: none;
}

.icon-shape {
    mix-blend-mode: normal;
    opacity: 0.3;
    margin-right: 8px;
    width: 17px;
    height: 17px;
}

.icon-bookmark {
    mix-blend-mode: normal;
    margin-right: 8px;
    width: 15px;
    height: 16px;
}

.icon-cart {
    mix-blend-mode: normal;
    margin-right: 8px;
    width: 15px;
    height: 15px;
}

.header__top-bookmark {
    color: #fff;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.bookmark-count {
    margin-left: 5px;
}

.header__top-cart {
    color: #fff;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 26px;
}

.cart-count {
    margin-left: 5px;
}

.header__top-order {
    background-color: #63A63E;
    padding: 10px 16px 8px 19px;
    color: #fff;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    max-width: 150px;
    width: 100%;
    transition: all .3s ease-out;
}

.header__top-order:hover {
    background-color: #518833;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header__main{
    background: #F1F5F7;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 44px;
    padding-bottom: 60px;
    border-top: none;
}

.header__main-content {
    display: flex;
    margin-bottom: 40px;
}

.header__main-info {
    font-family: Cuprum;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #EE3643;
    margin-left: 29px;
    margin-right: 95px;
}
.header__main-contacts {
    margin-right: 70px;
}
.header__main-phone {
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    padding: 6px 45px 5px 35px;
    max-width: 270px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.header__main-phone .icon-phone {
    margin-right: 16px;
    width: 19px;
    height: 19px;
}

.header__main-phone a {
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: #EE3643;
    text-decoration: none;
    transition: color .3s ease-out;
}

.header__main-phone a:hover {
    color: #c22f39;
}

.header__main-address {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #32425C;
    text-align: center;
}

.header__main-auth-block {
    display: flex;
    justify-content: baseline;
}

.header__main-login {
    background: #fff;
    padding: 15px 27px 12px 19px;
    max-height: 45px;
    display: flex;
    align-items: center;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000;
    text-decoration: none;
    transition: background .3s ease-out;
    margin-right: 10px;
}

.header__main-login:hover {
    background: rgba(250, 250, 250, 0.849);
}

.header__main-login .icon-login {
    margin-right: 6px;
}

.header__main-reg {
    background: #fff;
    padding: 15px 23px 12px 25px;
    max-height: 45px;
    display: flex;
    align-items: center;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000;
    text-decoration: none;
    transition: background .3s ease-out;
}

.header__main-reg:hover {
    background: rgba(250, 250, 250, 0.849);
}

.header__main-menu {
    padding: 17px 53px 20px 53px;
    background: #32425C;
    box-shadow: inset 0px -5px 0px #293449;
}

.header__main-menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.header__main-menu li {
    list-style-type: none;
    margin-right: 56px;
}

.header__main-menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: Cuprum;
    transition: color .3s ease-out;
}

.header__main-menu a:hover {
    color: #ffffffab;
}

.header__main-menu ul li:last-child {
    margin-right: 0;
}